.custom-navbar {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
  }
  
  .custom-navbar .navbar-brand {
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .custom-navbar .navbar-brand:hover {
    color: #007bff;
  }
  
  .custom-navbar .nav-item {
    font-size: 0.9rem;
    color: #555;
    transition: all 0.3s ease;
  }
  
  .custom-navbar .nav-item:hover {
    transform: translateY(-2px);
  }
  
  .custom-navbar .btn-outline-danger {
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  
  .custom-navbar .btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(220, 53, 69, 0.2);
  }
  
  @media (max-width: 991px) {
    .custom-navbar .navbar-nav {
      padding-top: 1rem;
    }
  
    .custom-navbar .nav-item {
      margin-bottom: 0.5rem;
    }
  }
  
  .rounded-navbar {
    background-color: #ffffff;
    border-radius:  0 0 30px 30px; /* Hace los bordes redondeados */
    border-bottom: 3px solid #ffffff; /* Borde fino de otro color */
    border-left: 3px solid;
    border-right: 3px solid;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  }

  .rounded-mobile-navbar {
    background-color: #ffffff;
    border-radius: 50px 50px 0 0; /* Hace los bordes redondeados */
    border-top: 3px solid #ffffff; /* Borde fino de otro color */
    border-left: 3px solid;
    border-right: 3px solid;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  }
  
  @font-face {
    font-family: "Gotham Rounded Medium";
    src: url("/fonts/GothamRounded-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  .rounded-navbar {
    font-family: "Gotham Rounded Medium", sans-serif !important;
  }

  .rounded-mobile-navbar {
    font-family: "Gotham Rounded Medium", sans-serif !important;
  }

  .navbar-nav .nav-link {
    font-family: "Gotham Rounded Medium", sans-serif !important;
  }

